.paginado {
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
    padding: 2rem;
    list-style:disc;
    border-radius: 0.25rem;
    justify-content: space-around;
}

.number {
    display: flex;
    flex: content;
    justify-content: space-around;
    background-color: rgb(133, 89, 202);
    border-radius: 60px;
    margin: 0.35rem;
    border: 0.15rem solid rgb(104, 74, 156);
}



